@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.small-container {
  width: 55%;
  margin: auto;
}

.col-30 {
  width: 30%;
  border: 3px solid green;
}

.col-70 {
  width: 70%;
  border: 3px solid green;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-lg-blue-bckg {
  display: inline-block;
  padding: 3px 60px;
  color: #ffffff;
  background-color: #0282f9;
  border: 2px solid #0282f9;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.btn-lg-blue-bckg:hover {
  background-color: #0268c6;
  border-color: #0268c6;
}

.btn-blue-border {
  display: inline-block;
  padding: 10px 14px;
  color: #ffffff;
  border: 2px solid #0282f9;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
}
.btn-blue-border:hover {
  background-color: #0282f9;
}

header {
  color: black;
  width: 100%;
}
header .pre-header {
  background-color: #0282f9;
  color: #ffffff;
  text-align: right;
}
header .pre-header span .pre-header-info {
  margin: 0 5px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 120px;
}
header nav .logo {
  width: 80px;
}
header nav ul li {
  display: inline-block;
  padding-bottom: 4px;
  text-transform: uppercase;
}
header nav ul li.active {
  color: #0282f9;
  padding-bottom: 0px;
}
header nav ul li:hover {
  color: #0268c6;
}
header nav ul li a {
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  line-height: 116px;
}
header nav ul li.active a {
  border-bottom: 4px solid #0282f9;
}

main {
  background-color: #1c1c1c;
  color: #ffffff;
}
main .jumbotron {
  width: 100%;
  height: 400px;
}
main .jumbotron .jumbo-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
main .current-series-sect .container {
  text-align: center;
  padding-bottom: 20px;
}
main .current-series-sect .container .wrapper {
  width: 100%;
  padding: 50px 0 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
main .current-series-sect .container .wrapper .main-title {
  padding: 8px 30px;
  font-size: 30px;
  color: #ffffff;
  background-color: #0282f9;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}
main .current-series-sect .container .wrapper .single-series-container {
  width: calc(16.6666666667% - 30px);
  margin: 10px 15px;
  overflow: hidden;
}
main .current-series-sect .container .wrapper .single-series-container .series-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
main .current-series-sect .container .wrapper .single-series-container h2 {
  padding: 20px 0;
  font-family: "Segoe UI", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}
main .pre-footer {
  width: 100%;
  padding: 50px 0;
  background-color: #0282f9;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
}
main .pre-footer .container .wrapper {
  display: flex;
  justify-content: space-around;
}
main .pre-footer .container .wrapper .pre-footer-object {
  vertical-align: middle;
}
main .pre-footer .container .wrapper .pre-footer-object .object-img {
  height: 50px;
  max-width: 60px;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
main .pre-footer .container .wrapper .pre-footer-object .object-name {
  text-transform: uppercase;
}
main .comic-info-sect {
  background-color: white;
  color: black;
}
main .comic-info-sect .comic-book {
  background-color: #0282f9;
  color: white;
}
main .comic-info-sect .comic-book .small-container {
  min-height: 80px;
  position: relative;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container {
  width: 200px;
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
  left: 0;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container .comic-thumb-content {
  position: relative;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container .comic-thumb-content img {
  display: block;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container .comic-thumb-content .comic-target {
  background-color: #00a9d9;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container .comic-thumb-content .comic-type {
  position: absolute;
  top: 0;
  left: 0;
}
main .comic-info-sect .comic-book .small-container .comic-thumb-container .comic-thumb-content .view-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
main .comic-info-sect .comic-description .small-container {
  display: flex;
}
main .comic-info-sect .comic-description .small-container .price-box {
  display: flex;
}
main .comic-info-sect .comic-description .small-container .price-box .price-info {
  display: flex;
  justify-content: space-between;
}
main .comic-info-sect .comic-description .small-container .price-box .check-availaibility {
  display: block;
  text-align: center;
}
main .comic-info-sect .comic-description .small-container .adv-title {
  text-transform: uppercase;
  text-align: right;
}
main .comic-info-sect .comic-description .small-container img {
  display: block;
}

footer section.footer-link-list {
  padding: 50px 0;
  color: #ffffff;
  background-image: url("../img/footer-bg.jpg");
  overflow: hidden;
}
footer section.footer-link-list .container .wrapper {
  position: relative;
}
footer section.footer-link-list .container .wrapper .link-list {
  display: flex;
}
footer section.footer-link-list .container .wrapper .link-list .list-container {
  margin: 0 20px;
}
footer section.footer-link-list .container .wrapper .link-list .list-container h3 {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
footer section.footer-link-list .container .wrapper .link-list .list-container ul {
  margin-bottom: 20px;
}
footer section.footer-link-list .container .wrapper .link-list .list-container ul li {
  margin: 5px 0;
  color: grey;
  font-size: 12px;
  font-family: "Segoe UI", sans-serif;
}
footer section.footer-link-list .container .wrapper .big-logo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
footer section.footer-socials {
  padding: 40px 0;
  background-color: #303030;
  color: #ffffff;
}
footer section.footer-socials .container .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section.footer-socials .container .wrapper .socials-container {
  display: flex;
  align-items: center;
}
footer section.footer-socials .container .wrapper .socials-container .follow-us {
  color: #0282f9;
  font-size: 20px;
}
footer section.footer-socials .container .wrapper .socials-container ul {
  margin-left: 20px;
  display: flex;
}
footer section.footer-socials .container .wrapper .social-icon {
  width: 40px;
  margin: 0 10px;
}