footer {

    .pre-footer {
        width: 100%;
        padding: 50px 0;
        background-color: $primary_color;
        color: $secondary_color;
        font-family: 'Segoe UI', sans-serif;

        .container {

            .wrapper {
                display: flex;
                justify-content: space-around;

                .pre-footer-object {
                    vertical-align: middle;

                    .object-img {
                        height: 50px;
                        max-width: 60px;
                        width: auto;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    .object-name {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

}