main {
    background-color: #1c1c1c;
    color: $secondary_color;

    // Jumbotron
    .jumbotron {
        width: 100%;
        height: 400px;

        .jumbo-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    // Container Comics List
    .current-series-sect{

        .container {
            text-align: center;
            padding-bottom: 20px;
            
            .wrapper {
                width: 100%;
                padding: 50px 0 10px;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                
                .main-title {
                    padding: 8px 30px;
                    font-size: 30px;
                    color: $secondary_color;
                    background-color: $primary_color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateY(-50%);
                }

                .single-series-container {
                    width: calc( (100% / 6) - 30px );
                    margin: 10px 15px;
                    overflow: hidden;

                    .series-img-container {
                        width: 100%;
                        height: 200px;
                        overflow: hidden;
                    }

                    h2 {
                        padding: 20px 0;
                        font-family: "Segoe UI", sans-serif;
                        font-weight: lighter;
                        font-size: 16px;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    // Pre-Footer
    .pre-footer {
        width: 100%;
        padding: 50px 0;
        background-color: $primary_color;
        color: $secondary_color;
        font-family: 'Segoe UI', sans-serif;

        .container {

            .wrapper {
                display: flex;
                justify-content: space-around;

                .pre-footer-object {
                    vertical-align: middle;

                    .object-img {
                        height: 50px;
                        max-width: 60px;
                        width: auto;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    .object-name {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    // Comic Info
    .comic-info-sect {
        background-color: white;
        color: black;

        // Comic Book
        .comic-book {
            background-color: $primary_color;
            color: white;

            .small-container {
                min-height: 80px;
                position: relative;

                .comic-thumb-container {
                    width: 200px;
                    border: 1px solid white;
                    position: absolute;
                    bottom: 20px;
                    left: 0;

                    .comic-thumb-content {
                        position: relative;

                        img {
                            display: block;
                        }

                        .comic-target {
                            background-color: #00a9d9;
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: lighter;
                        }

                        .comic-type {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .view-gallery {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        // Comic Description
        .comic-description {
            padding: 50px 0;

            .small-container {
                display: flex;

                .wrapper {
                    padding-right: 40px;

                    .comic-title {
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
    
                    // Price box
                    .price-box {
                        display: flex;
                        margin-bottom: 10px;
                        color: $secondary_color;
                        border-bottom: 1px solid grey;
    
                        .price-info {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 20px;
                            background-color: #55ba59;
                            border-right: 1px solid gray;
                        }
    
                        .check-availaibility {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #55ba59;
                        }
                    } 
                }

                .adv-title {
                    text-transform: uppercase;
                    text-align: right;
                }

                img {
                    display: block;
                }
            }
        }

        // Comic Details
        .comic-details {
            background-color: #f6f6f6;

            .comic-info-list {
                display: flex;
                justify-content: space-between;
                padding: 30px 0 100px 0;

                h3 {
                    border-bottom: 1px solid grey;
                    padding-bottom: 20px;
                }

                ul {

                    li {
                        padding: 10px 0;
                        display: flex;
                        justify-content: space-between;
                        font-size: 12px;
                        border-bottom: 1px solid grey;

                        p {
                            max-width: 70%;
                        }
                    }
                }
            }
        }
    }
}